@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=M+PLUS+Rounded+1c:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: 40% auto;
  height: 100vh;
}

h1 {
  text-align: center;
  grid-row: 1;
  grid-column: 1 / span 2;
  text-transform: uppercase;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.089);
  color: rgba(0, 0, 0, 0.61);
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  letter-spacing: 2pt;
}
